<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About me</title>
    <%- include('partials/head') %>
</head>

<body>

    <%- include('partials/navigation') %>

    <main class="container my-5">
        <section>
            <div class="text-center mb-4">
                <h1 class="display-4 text-white fw-bold text-uppercase">XBOX</h1>
                <p class="lead text-white">¡Bienvenido a Xbox! Somos una marca icónica en el mundo de los videojuegos, creada y propiedad de Microsoft. Desde nuestro lanzamiento en 2001, hemos revolucionado la forma en que las personas juegan y se conectan a través de experiencias de entretenimiento interactivas. Nuestra misión es empoderar a los jugadores, ofreciéndoles tecnología de vanguardia y una amplia gama de videojuegos que inspiran creatividad y diversión.</p>
            </div>
    
            <div class="card mb-4 custom-card">
                <div class="card-body">
                    <h2 class="card-title text-primary">Nuestra historia</h2>
                    <p class="card-text text-white">La primera consola Xbox fue lanzada el 15 de noviembre de 2001, marcando el inicio de nuestra emocionante aventura en la industria del gaming. Desde entonces, hemos introducido varias generaciones de consolas, como la Xbox 360, Xbox One y más recientemente, las Xbox Series X y S. Cada generación ha traído innovaciones significativas, desde gráficos mejorados hasta servicios en línea como Xbox Live y Xbox Game Pass, que permiten a nuestros jugadores acceder a una extensa biblioteca de juegos.</p>
                </div>
            </div>
    
            <div class="card mb-4 custom-card">
                <div class="card-body">
                    <h2 class="card-title text-primary">Compromiso con la comunidad</h2>
                    <p class="card-text text-white">En Xbox, valoramos profundamente nuestra conexión con la comunidad de jugadores. Nos esforzamos por crear un entorno inclusivo donde todos puedan disfrutar del gaming. A través de eventos como el E3 y nuestras plataformas digitales, buscamos escuchar a nuestros usuarios y adaptar nuestras ofertas a sus necesidades e intereses.</p>
                </div>
            </div>
    
            <div class="card mb-4 custom-card">
                <div class="card-body">
                    <h2 class="card-title text-primary">Innovación continua</h2>
                    <p class="card-text text-white">La innovación es el corazón de lo que hacemos. Con tecnologías como el juego en la nube a través de xCloud y la compatibilidad con versiones anteriores, nos aseguramos de que nuestros jugadores siempre tengan acceso a lo mejor del entretenimiento interactivo. Además, estamos comprometidos con el desarrollo sostenible y la responsabilidad social, utilizando nuestra plataforma para generar un impacto positivo en el mundo.</p>
                </div>
            </div>
    
            <div class="card mb-4 custom-card">
                <div class="card-body">
                    <h2 class="card-title text-primary">Únete a nosotros</h2>
                    <p class="card-text text-white">Te invitamos a ser parte de nuestra comunidad global. Ya seas un jugador experimentado o alguien que recién comienza su viaje en el mundo del gaming, en Xbox encontrarás un lugar donde puedes explorar, jugar y conectar con otros. Juntos, estamos construyendo el futuro del entretenimiento digital.</p>
                </div>
            </div>
            <div class="text-center my-4">
                <a href="/contact" class="btn btn-primary text-uppercase">Contact Us</a>
            </div>
        </section>
    </main>


    <%- include('partials/footer') %>
</body>

</html>