<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>my first web</title>
    <%- include('partials/head') %>
</head>
<body>

    <%- include('partials/navigation') %>
    
    <!--Main content-->
    <header class="container vh-100 d-flex flex-column justify-content-center align-items-center">
        <img src="/img/xboxone_logo.PNG" alt="" class="h-25">
        <h1 class="display-1 my-5 text-uppercase fw-bold">conocenos</h1>
        <a href="/about" class="btn btn-primary w-25 text-uppercase"  >about Us</a>
    </header>

    <%- include('partials/footer') %>
</body>
</html>